.u-margin {
  margin-bottom: 25px;
}

.u-link {
  font-weight:600;
  color:$blue;
  text-decoration:underline;
}
.u-subLink {
  color:#999;
  text-decoration:underline;
  font-size:14px;
}

.u-center {
  text-align:center;
}

.u-align-right {
  text-align:right;
}

.u-text {
  line-height:1.5;
}
