.changeList {
  font-size:14px;
}

.changeList__item {
  border:1px solid #ddd;
  padding:7px 10px;
  &:before {
    width:10px;
    height:10px;
    content: " ";
    display:inline-block;
    float:left;
    margin-right:10px;
    margin-top:5px;
    border-radius:50%;
    background:#000;
  }
}

.changeList__item + .changeList__item {
  border-top:0;
}

.changeList__item--ZoneAdded,
.changeList__item--RecordAdded
 {
  background:lighten($green, 40%);
  &:before {
    background-color:$green;
  }
}

.changeList__item--ZoneDeleted,
.changeList__item--RecordDeleted {
  background:lighten($red, 44%);
  &:before {
    background-color: $red;
  }
}


.changeList__timestamp {
  font-size:12px;
  margin-top:3px;
  margin-left:20px;
  color:#aaa;
}
