.errorExplanation {
  border:1px solid #fa174c;
  color:#fa174c;
  background:#fff6f8;
  margin-bottom:25px;
  padding:15px;
  h2 {
    font-weight: 600;
    margin-bottom: 10px;
  }
  p {display: none;}
  ul {
    li {
      list-style-type: square;
      margin-left: 17px;
      font-size: 14px;;
      line-height:1.5;
    }
  }
}
