.formFooter {
  align-items: center;
  display: flex;
}

.formFooter__link {
  text-decoration: underline;

  &:hover {
    color: darken(#777777, 5%);
  }

  &:active {
    background: #eaeaea;
    padding: 2px 0;
  }
}

.formFooter__subText {
  color: #777777;
  flex: 1 1 auto;
  margin: 0 8px;
}
