.header {
  background: $white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .25);
  margin: 0 0 24px;
}

.header__action:not(:last-of-type) {
  margin: 0 6px 0 0;
}

.header__actions {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  margin: 0 0 0 12px;
}

.header__container {
  align-items: center;
  display: flex;
  height: 72px;
}

.header__content {
  flex: 1 1 auto;
}

.header__crumbs {
  display: flex;
  color: $gray-darkest;
  font-size: 14px;
}

.header__crumb:not(:first-of-type):before {
  content: "\00bb";
  margin: 0 4px 0 0;
}

.header__crumb + .header__crumb {
  margin: 0 0 0 8px;
}

.header__crumbLink {
  &:hover {
    color: darken($gray-darkest, 5%);
    text-decoration: underline;
  }
}

.header__title {
  font-size: 20px;
  font-weight: 700;
}
