.publishResult {
  width:85%;
  margin:auto;
  border:2px solid lighten($green, 0%);
  border-radius:6px;
  overflow:hidden;
}
.publishResult__title {
  background:lighten($green, 40%);
  border-bottom:1px solid lighten($green, 20%);
  color:$green;
  font-weight:600;
  font-size:16px;
  padding:15px 25px;
}

.publishResult--failed {
  border:2px solid lighten($red, 0%);
  .publishResult__title {
    color:$red;
    background:lighten($red, 40%);
    border-bottom:1px solid lighten($red, 20%);
  }
}


.publishResult__content {
  padding:25px;
}

.publishResult__subTitle {
  font-size:18px;
  font-weight:600;
  margin-bottom:15px;
}

.publishResult__list + .publishResult__list {
  margin-top:25px;
}

.publishResult__fileList {
  font-size:14px;
  line-height:1.5;
  li {
    list-style:square;
    margin-left:20px;
    whitespace:pre-line;
    word-break:break-all;
  }
}

.publishResult__configError {
  margin-bottom:25px;
  white-space:pre;
  overflow-x:auto;
  background:#efefef;
  border:1px solid #999;
  padding:15px;
  font-size:12px;
  b {
    color:$blue;
    font-weight:bold;
  }
}
