.sidebar {
  background: #3b4549;
  color: #8d999f;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  width: 224px;
}

.sidebar__apply {
  margin: 16px 0;
  flex: 0 0 auto;
  text-align: center;
}

.sidebar__branding {
  align-items: center;
  background: rgba(0, 0, 0, .1);
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  color: $white;
  display: flex;
  flex: 0 0 auto;
  height: 72px;
}

.sidebar__container {
  padding: 0 16px;
}

.sidebar__footer {
  background: rgba(0, 0, 0, .1);
  border-top: 1px solid rgba(0, 0, 0, .2);
  flex: 0 0 auto;
  margin: 16px 0 0;
  padding: 10px 24px;
}

.sidebar__footerLogout {
  text-decoration: underline;
}

.sidebar__logo {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
}

.sidebar__logoIcon {
  display: block;
  height: 28px;
  margin: 0 12px 0 0;
  width: 28px;
}

.sidebar__logoText {
  font-size: 24px;
  line-height: 32px;
}

.sidebar__menuItem {
  border-bottom: 1px solid rgba(0, 0, 0, .2);

  &.is-active {
    color: $white;
    font-weight: 700;
  }
}

.sidebar__menuLink {
  -webkit-user-select: none;
  align-items: center;
  display: flex;
  padding: 14px 16px;
  user-select: none;

  &:hover {
    text-decoration: underline;
  }
}

.sidebar__menuLinkIcon {
  display: block;
  height: 20px;
  margin: 0 14px 0 0;
  width: 20px;
}

.sidebar__nav {
  flex: 1 1 auto;
}

.sidebar__apply ~ .sidebar__nav {
  border-top: 1px solid rgba(0, 0, 0, .2);
}

.sidebar__powered {
  background: rgba(0, 0, 0, .2);
  border-top: 1px solid rgba(0, 0, 0, .2);
  flex: 0 0 auto;
  padding: 8px 16px;
}

.sidebar__poweredLink {
  font-weight: 700;

  &:hover {
    text-decoration: underline;
  }
}

.sidebar__section + .sidebar__section {
  margin: 16px 0 0;
}
