// This is actually for the navbar
.sidebar {
  background: #ffffff;
  color: #000000;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
  z-index: 10;
}

.sidebar__apply {
  flex: 0 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  margin-right: 24px;
}

.sidebar__branding {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
}

.sidebar__container {
  padding: 0 16px;
}

.sidebar__footer {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-right: 24px;
  &__content {
    display: flex;
    flex-direction: column;
    text-align: right;

    .text--smaller {
      line-height: 16px;
    }
  }
}

.sidebar__footerLogout {
  text-decoration: underline;
}

.sidebar__logo {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
}

.sidebar__logoIcon {
  display: block;
  height: 22px;
  margin: 0 4px 0 0;
  width: 22px;
  filter: invert(1);
}

.sidebar__logoText {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}
.sidebar__menu {
  display: flex;
  flex-direction: row;
}

.sidebar__menuItem {
  position: relative;
  font-weight: 400;
  color: #666666;
  padding: 8px 12px;
  &.is-active {
    &::before {
      content: "";
      display: block;
      position: absolute;
      height: 0;
      left: 9px;
      right: 9px;
      bottom: 0;
      border-bottom: 2px solid #000000;
    }
  }
}

.sidebar__menuLink {
  -webkit-user-select: none;
  align-items: center;
  display: flex;
  user-select: none;
  border-radius: 6px;
  padding: 4px 8px;
  transition: all 175ms;
  &:hover {
    text-decoration: none;
    background-color: #EAEAEA;
    color: #111111;

  }
}
.sidebar__menuItem {
  &.is-active {
    .sidebar__menuLink {
      color: #000000;
    }
  }
}

.sidebar__menuLinkIcon {
  display: block;
  height: 20px;
  margin: 0 14px 0 0;
  width: 20px;
}

.sidebar__nav {
  flex: 1 1 auto;
}

.sidebar__apply ~ .sidebar__nav {
  border-top: 1px solid rgba(0, 0, 0, .2);
}

.sidebar__powered {
  border-top: 1px solid rgba(0, 0, 0, .2);
  flex: 0 0 auto;
  padding: 8px 16px;
}

.sidebar__poweredLink {
  font-weight: 700;

  &:hover {
    text-decoration: underline;
  }
}

.sidebar__section + .sidebar__section {
  margin: 16px 0 0;
}
