- @page_title = "API Tokens"

- header_action "Add new token", new_api_token_path, :color => :green

= render_header "API Tokens"

.container
  - if @api_tokens.any?
    %ul.box
      - @api_tokens.each do |token|
        %li.apiTokenItem.boxItem.island
          .apiTokenItem__content
            %h2.heading.heading--gamma
              = token.name
            %pre
              ~ token.token
          = link_to "Revoke", token, :class => "button button--red button--small apiTokenItem__action", :data => {:confirm => "Are you sure you wish to revoke this token's access?"}, :method => :delete
  - else
    %p.box.emptyState
      There are no API tokens

