- @page_title = "Users"
- header_action "Add new user", new_user_path, :color => :green

= render_header "Users"

.container
  .box
    %ul
      - @users.each do |user|
        %li.boxItem.userItem
          %h2.heading.text--larger
            = user.name
          %span.userItem__email
            = user.email_address
          = link_to "Revoke", user, :class => "button button--red button--small userItem__revoke", :data => {:confirm => "Are you sure you wish to revoke this user's access?"}, :method => :delete
