- @page_title = "Users"
%h1.page__header
  Users
  .page__headerButton
    = link_to "Add new user", new_user_path, :class => 'button'

.page__content
  %table.dataTable
    %thead
      %tr
        %td{:width => "50%"} E-Mail Address
        %td{:width => "40%"} Name
        %td{:width => "10%"}
    %tbody
      - for user in @users
        %tr
          %td= user.email_address
          %td= user.name
          %td.u-center
            = link_to "Revoke", user, :method => :delete, :data => {:confirm => "Are you sure you wish to revoke this user's access?"}, :class => 'u-link'
