mysql:
  host: localhost
  port: 3306
  username: root
  password:
  database: bound

bind:
  zone_export_path: /etc/bind/zones
  zone_clauses_file: /etc/bind/named.conf.zones
  commands:
    reload: /etc/init.d/bind9 reload
    check_config: named-checkconf /etc/bind/named.conf

# Uncomment this section if you'd like Bound to copy zone files to alternative hosts.
#
# replication:
#   # This is the IP addresses for the master server where slaves are able to
#   # request zone configuration. This information is included in the zone clauses
#   # that is pushed to slaves.
#   masters:
#     - 185.22.208.2
#
#   # Defines who should receive notifications sent by the master. If 'yes',
#   # the NS records for the zone will be notified, if 'explicit' only those which
#   # are configured as 'also-notify' and if 'no' nothing will be notified. This
#   # can be configured for the master and the slave zone clauses independently.
#   notify:
#     master: "yes"
#     slave: "no"
#
#   # These are the slaves that should receive a copy of the zone file and reloaded
#   # then configuration is changed. Configuration is pushed to slaves using SSH
#   # and should be secured with an SSH key for the user that is running Bound.
#   slaves:
#     -
#       ip_address: 185.22.208.3
#       username: root
#       key_path: /root/.ssh/id_rsa
#       ssh_port: 22
#       zone_file_path: /etc/bind9/named.conf.zones
#       reload_command: service bind9 restart

rails:
  environment: production
  # Replace this key with a new random key. You can generate one using
  # `bundle exec rake secret` from the root of the application
  secret_key: ad1a6538c2b3cb4f231fad413898ce6144712232b24676d13879eb8704c61fe23b5f8e41e7a519498a8c78c2a95875412052f76e202bf6af9e7394a13d1eb8f8

auth:
  strategy: atech
  description: aTech Identity
  client_key: xx
  client_secret: xx
  scopes: null

smtp:
  host: localhost
  username: null
  password: null
  from_address: Bound <bound@example.com>

web:
  protocol: http
  host: localhost:3000

web_server:
  bind_address: 0.0.0.0
  port: 3000
  max_threads: 5

dns_defaults:
  primary_ns: dns1.example.com
  email_address: hostname@example.com
  refresh_time: 3600
  retry_time: 120
  expiration_time: 2419200
  max_cache: 600
  ttl: 3600
  nameservers:
    - dns1.example.com.
    - dns2.example.com.
    - dns3.example.com.
