- @page_title = "Zones"
.page__header
  .page__headerButton= link_to "Add new zone", new_zone_path, :class => 'button'
  Zones
.page__content
  %ul.zoneList
    - for zone in @zones
      %li
        = link_to zone, :class => 'zoneList__item' do
          = zone.description
          - if zone.reverse?
            %span.zoneList__reverse Reverse
          .zoneList__itemUpdated
            - if zone.changes_pending?
              %span.zoneList__hasChanges Pending
            Last updated #{distance_of_time_in_words_to_now zone.updated_at} ago

