.button {
  -webkit-appearance: none;
  background: #383838;
  border: 1px solid;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  font-weight: 500;
  line-height: 40px;
  padding: 0px 12px;
  white-space: nowrap;
  border-radius: 6px;
  transition: all 250ms;
  height: 40px
}

/**
 * Modifiers that change the display type of the button.
 */

.button--blocked {
  display: block;
}

/**
 * Alternative button sizes.
 */

.button--small {
  line-height: 30px;
  height: 32px;
}

.button--large {
  height: 48px;
  font-size: 16px;
  line-height: 48px;
}

/**
 * Modifiers that change the color of the button.
 * To add a new button, simply add a name and hex color value to the map below.
 */

$button-styles: (
  black: #000000,
  secondary: #EAEAEA,
  blue: #0070F3,
  green: #0070F3,
  orange: #EB367F,
  red: #E00
);

@each $name, $color in $button-styles {
  .button--#{$name} {
    background-color: $color;
    border-color: $color;

    &:hover {
      background-color: #ffffff;
      color: $color;
    }

    &:active {
      background-color: darken($color, 5%);
    }

    &--ghost {
      background-color: #ffffff;
      border-color: #ffffff;
      color: $color;

      &:hover {
        background-color: lighten($color, 50%);
      }

      &:active {
        background-color: lighten($color, 40%);
      }
    }
  }
}

// Special Button
.button--secondary {
    color: #444;
  
    &:hover {
      background-color: lighten(#FAFAFA, 5%);
      color: #333;
    }

    &:active {
      background-color: darken(#FAFAFA, 15%);
    }
}