.formControl {
  -webkit-appearance: none;
  background: $white;
  border: 1px solid $gray-dark;
  border-radius: 2px;
  box-shadow: inset 1px 0 4px rgba(0, 0, 0, .125);
  display: block;
  font: inherit;
  outline: 0;
  padding: 6px 8px;
  width: 100%;

  &:focus {
    border-color: $blue;
    box-shadow: 1px 0 4px rgba(4, 166, 221, .375);
  }
}

.formControl[disabled] {
  background-color: $gray-light !important;
  box-shadow: inset 1px 0 4px rgba(0, 0, 0, .125);
  border-color: darken($gray-dark, 5%);
  color: $gray-darkest;
  cursor: not-allowed;
}

.formControl--auto {
  width: auto;
}

.formControl--mono {
  font-family: "Menlo", "Monaco", monospace, monospace;
  white-space: nowrap;
}

.formControl--select {
  background-image: image-url("select.svg");
  background-position: right 8px top 50%;
  background-size: auto 12px;
  background-repeat: no-repeat;
}

.formControl--textarea {
  resize: vertical;
}
