.lozenge {
  border-radius: 100px;
  color: #ffffff;
  display: inline-block;
  padding: 0 8px;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
}

.lozenge--black {
  background: #000000;
}

.lozenge--gray {
  background: #000000;
}

.lozenge--green {
  background: #29BC9B;
}

.lozenge--orange {
  background: #AB570A;
}
