.textInput {
  width:100%;
  border:1px solid #d5def5;
  border-radius:0px;
  font-family:inherit;
  padding:8px 11px;
  background:#f9fbfe;
  resize:none;
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance: none;
  &:focus {
    background-color:#fff;
    border-color:$blue;
    outline:1px solid $blue;
  }
  &:disabled {
    color:#a0abc1;
    cursor:not-allowed;
  }
}

.textInput--small {
  padding:4px 8px;
  border-width:1px;
  &:focus {
    outline:0;
  }
}

.textInput--shortArea {
  height:100px;
  font-size:14px;
}

.textInput--longArea {
  height:200px;
  font-size:14px;
}

.textInput--veryLongArea {
  height:450px;
  font-size:14px;
}

.textInput--select {
  background: #f9f9fe image-url('select-arrow.svg') right 12px top 50% / 16px 16px no-repeat;
  cursor: pointer;
  padding:8px 28px 8px 8px;
}

.textInputTriplet {
  display:flex;
  justify-content: space-between;
  .textInput {
    width:calc(33% - 8px);
  }
}

.textInputPair {
  display:flex;
  justify-content: space-between;
  .textInput {
    width:calc(50% - 8px);
  }
}

.textInputPair--7525 {
  .textInput:first-child {
    width:calc(75% - 8px);
  }
  .textInput:last-child {
    width:calc(25% - 8px);
  }
}

.textInputPairLabels {
  display:flex;
  justify-content: space-between;
  margin-bottom:5px;
  color:#aaa;
  text-transform: uppercase;
  font-size:12px;
  label {
    display:block;
    width:calc(50% - 8px);
  }
}

.textInputPairLabels--7525 {
  label:first-child { width: calc(75% - 8px)}
  label:last-child { width: calc(25% - 8px) }
}




