@import "global/variables";
@import "global/reset";

@import "elements/*";
@import "components/*";

@import "global/utility";

html {
  font-family:Lato, Arial, sans-serif;
  font-size:16px;
  color:#222;
}

.turbolinks-progress-bar {
  height: 3px;
  background-color: #333;
}
